<as-split direction="horizontal" (dragEnd)="updateSettings()">
  <as-split-area size="30">
    <as-split (dragEnd)="updateSettings()" direction="vertical">
      <as-split-area size="30" class="pad-10">
        <div class="split-container">
          <div class="split-content" *ngIf="showExcel">
            <ul class="sp-section">
              <li (click)="openSubsection(1)" [class.active]="active_number == 1"><a href="#">Section 1-3</a></li>
              <li (click)="openSubsection(2)" [class.active]="active_number == 2"><a href="#">Section 1-1</a></li>
              <li (click)="loadData3()" [class.active]="active_number == 3"><a href="#">Section 1-2</a></li>
            </ul>
            <ul class="sp-section sub-section" *ngIf="subSectionActive">
              <li [class.active]='tab.is_active' (click)="loadSubData(tab.data)" *ngFor='let tab of subsections'>
                <a href="#">{{tab.title}}</a>
              </li>
            </ul>
            <hot-table [data]="data" [options]="options" #hot></hot-table>
          </div>
          <div class="split-content" *ngIf="!showExcel">
            <img src="assets/images/number2.jpg" alt="" height="100" width="80">
          </div>
        </div>
      </as-split-area>
      <as-split-area size="70" class="pad-10">
        <img src="assets/images/Process_flowchart.png" alt="Chart">
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area size="70">
    <as-split direction="vertical" (dragEnd)="updateSettings()">
      <as-split-area size="50" class="pad-10">
        <hot-table [data]="data2" [options]="options" #hot></hot-table>
      </as-split-area>
      <as-split-area size="50" class="pad-10">
        <hot-table [data]="data2" [options]="options" #hot></hot-table>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>
