<header>
  <nav class="navbar navbar-metro">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-center">
          <li>
            <a href="">Chennai Metro Rail Ltd.</a>
          </li>
          <li>
            <a href="">RAMS Management System</a>
          </li>
          <li>
            <a href="">Alert</a>
          </li>
          <li>
            <a href="">Failure</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="background-metro" style="height: calc(100% - 2*55px);">
  <div class="container" style="height: 100%; background-color: white;">
    <app-main [showExcel]="showExcel"></app-main>
  </div>
</div>

<div class="bottom-section">
  <nav class="navbar navbar-metro">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-center">
          <li (click)="showExcel = true">
            <a href="#"><i class="fa fa-sitemap"></i></a>
          </li>
          <li (click)="showExcel = false">
            <a href="#"><i class="fa fa-cog"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-wrench"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-building"></i></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>